* {
	font-family: 微软雅黑, Consolas;
}

body {
	margin: 0px;
	font-size: 11pt;
	overflow: hidden;
}

.fill-content {
	background-color: white;
}

section {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	width: 100%;
	background-color: silver;
}

header,footer {
	position: absolute;
	background-color: white;
	color: #225592;
	width: 100%;
}

header a {
	color: #333;
	font-size: 11px;
	text-decoration: blink;
}

header a:visited {
	color: #333;
}

header a:hover {
	color: #3CCEAC;
}

header {
	top: 0px;
	height: 80px;
	line-height: 74px;
	text-align: left;
	border-bottom: 1px solid #d6dfea;
}

.special-font {
	float: left;
	margin-left: 50px;
	width: 210px;
	height: 74px;
	padding: 0px;
	border: 0px;
	position: relative;
}

.font-1 {
	position: absolute;
	top: 16px;
	left: 20px;
	font-size: 60px;
	color: #30A9EC;
	width: 68px;
	height: 48px;
}

.font-2 {
	position: absolute;
	right: 13px;
	top: 15px;
	line-height: 40px;
	font-size: 22px;
	font-weight: bold;
	padding: 0px 4px;
	color: #3F8CD0;
}

.font-3 {
	position: absolute;
	right: 0px;
	bottom: 4px;
	line-height: 24px;
	font-size: 9pt;
	font-weight: bold;
	padding: 0px 2px;
	color: #3F8CD0;
	padding: 0px 2px;
}

.nav-links {
	overflow: hidden;
	margin-top: 16px;
	padding-right: 17px;
	line-height: 48px;
	text-align: right;
}

.ad-font {
	float: right;
	margin-right: 20px;
	color: gray;
	font-size: 30px;
	text-shadow: 1px 0px 1px silver;
}

footer {
	bottom: 0px;
	height: 100px;
	line-height: 37px;
	text-align: center;
	border-top: 1px solid #d6dfea;
}

footer .version-font {
	color: #b6b6b6;
}

.standard-font {
	color: #868686;
	font-size: 11px;
	text-shadow: 1px 0px 1px white;
}

.content {
	position: absolute;
	left: -500px;
	top: -300px;
	width: 500px;
	height: 300px;
	overflow: hidden;
}

.part1 {
	background-color: black; /* #3F8CD0; */
}

.part2 {
	opacity: 0.3;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
}

.part3 {
	background-color: white;
}

.part3 a,.part3 a:visited {
	color: #fff;
}

.part3 a:hover {
	color: #0B5A69;
}

.part3 a:active {
	padding-top: 1px;
}

.img-desc {
	margin: 0px;
	margin-top: 5px;
	list-style: none;
}

.img-desc li {
	display: inline-block;
}

.img-desc li span {
	display: inline-block;
	height: 37px;
	top: -12px;
	position: relative;
	font-size: 9pt;
	padding-left: 3px;
}

.content-call {
	display: block;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	text-align: center;
	font-size: 22px;
}

.content-title {
	display: block;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	text-align: center;
	font-size: 22px;
	background-color: rgb(41, 177, 144);
	color: white;
}

.content-jumper {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 50px;
	padding: 0px;
	margin-top: 30px;
	border: 0px;
	text-align: center;
	font-size: 22px;
	text-decoration: blink;
}

.userlogin-table {
	text-align: center;
	margin-top: 10px;
}

.userlogin-table .tabrows {
	line-height: 70px;
	min-width: 250px;
}

.userlogin-table input[type=text] {
	width: 80%;
	height: 35px;
}

.userlogin-table input[type=password] {
	width: 80%;
	height: 35px;
}

.userlogin-table input[type=submit] {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: rgb(41, 177, 144);
	color: white;
	cursor: pointer;
	outline: none;
	border: 2px solid silver;
}

.tabrows2 {
	background-color: rgba(255, 255, 255, 0.7);
}

.common-input {
	font-size: 20px;
	padding-left: 10px;
	height: 35px;
	background-color: rgb(231, 231, 231);
}

.common-submit {
	font-size: 18px;
	text-align: center;
}

.pu-container {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.pu-imgbox {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.pu-msg {
	width: 100%;
	text-align: center;
	top: 70%;
	position: absolute;
	font: 25px 微软雅黑;
	color: #16B6B6;
}

.guest-enter-title {
	display: block;
	width: 100%;
	padding: 14px 0px 25px 0px;
	text-align: center;
	text-align: center;
	font-size: 22px;
	border-top: 1px solid silver;
	background-color: rgba(255, 255, 255, 0.3);
}

.guest-enter-link {
	color: whitesmoke;
	text-decoration: blink;
}

.guest-enter-title:hover {
	background-color: white;
}

.guest-enter-title:hover .guest-enter-link {
	color: rgb(15, 168, 117);
	text-decoration: blink;
}