body {
	padding: 0px 20px;
	background-color: #f9f9f9;
}

.jle-div-1 {
	position:relative;
	left: -20px;
	font: 15px/30px consolas, Î¢ÈíÑÅºÚ;
	font-weight: bold;
	color: #222;
	margin-top: 10px;
}

.jle-br {
	margin-top: 10px;
}

.jle-input {
	padding: 0px 5px;
	width: 150px;
	font: 15px/30px consolas, Î¢ÈíÑÅºÚ;
}

.jle-label {
	font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
}

.jle-span {
	font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
	text-shadow: 0px 1px #abc;
}

.jle-a {
	text-decoration: none;
	color: rgb(29, 133, 178);
	font: 15px/20px Consolas, Î¢ÈíÑÅºÚ;
	font-weight: bold;
}

.jle-a:hover {
	color: brown;
}

.jle-button {
	font: 15px/30px Consolas, Î¢ÈíÑÅºÚ;
	padding: 0px 10px;
	cursor: pointer;
}

.jle-p {
	font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
	margin: 4px 0px;
	text-indent: 2em;
	text-align: left;
}

.jle-ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.jle-li {
	font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
}

.jle-table {
	width: 90%;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	padding: 0px;
	margin: 0px;
}

.jle-th {
	font: 16px/30px consolas, Î¢ÈíÑÅºÚ;
	font-weight: bold;
	color: #222;
	background-color: #d3d3d3;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}

.jle-td {
	font: 15px/30px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	padding-left: 10px;
}

.jle-form li, .jle-form tr{
	padding: 2px 0px;
}

.jle-img {
	max-width: 400px;
	max-height: 400px;
	box-shadow: 1px 1px silver,-1px 1px silver, 1px -1px silver, -1px -1px silver;
	background-color: rgba(208, 208, 208, 0.3);
}