body {
	padding: 0px 20px;
	background-color: white;
}

.jle-input {
	padding: 0px 5px;
	width: 250px;
	font: 15px/30px consolas, Î¢ÈíÑÅºÚ;
}

.jle-panel {
	position: relative;
	min-width: 90px;
	width: auto;
	left: 0px;
	height: auto;
	top: 0px;
	border: 1px solid #b1b1b1;
	background: -webkit-linear-gradient(rgba(12, 128, 104, 0.42), #f9f9f9);
	background-color: #f9f9f9;
	background-size: 100% 60px;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 3px silver;
	padding: 10px;
	margin: 10px;
}

.jle-ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.jle-li {
	font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
	color: #444;
	margin-bottom: 10px;
}

.jle-title {
	text-align: center;
	border-bottom: 1px dashed silver;
	padding-bottom: 5px;
}

.jle-title b {
	color: rgb(26, 120, 178);
	font-size: 17px;
}

.jle-validate-error {
	color: red;
	box-shadow: 1px 1px 1px red, -1px -1px 1px red,-1px 1px 1px red,1px -1px 1px red;
}

.jle-error {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: red;
	margin-left: 5px;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.jle-error-desc {
	color: red;
	font-size: 10pt;
	margin-left: 5px;
}

.jle-warn {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: silver;
	margin-left: 5px;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.jle-warn-desc {
	color: silver;
	font-size: 10pt;
	margin-left: 5px;
}

.jle-ok {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: green;
	margin-left: 5px;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}