body {margin:0px;}
span,input,select,option,a{font:15px/1.5 微软雅黑 , tahoma , arial;}
.jle-top{position:relative;width:100%;top:0px;line-height:39px;height:39px;}
.jle-bottom{position:absolute;width:100%;bottom:0px;line-height:45px;border-top:1px solid silver;height:37px;}
.jle-center{position:relative;top:0px;min-height:30px;line-height:30px;}
.jle-top,.jle-nav{background-color:#454545;overflow:hidden;}
.jle-bottom{background-color:#F7F7F7;color:#888;overflow:hidden;}
.jle-center{background-color:#FFF;color:#888;}
.jle-top,.jle-nav{border-bottom:1px solid silver;}
.jle-title{line-height:39px;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block;}
.jle-top ul,.jle-nav ul,.jle-bottom ul{padding:0;font-size:0;}
.jle-top li,.jle-nav li{position:relative;left:0px;display:inline-block;list-style:none;text-align:center;cursor:pointer;}
.jle-bottom li{position:relative;left:0px;top:0px;display:inline-block;list-style:none;text-align:center;color:#333;}
.jle-paging{width:100%;height:100%;margin:0px;padding:0px;border:0px;}
.jle-top li{width:16.666666666%;min-width:58.33px;}
.jle-nav li{width:14.2857142857%;min-width:3px;overflow:hidden;}
.jle-top li .jle-title,.jle-nav li .jle-title{color:white;}
.jle-top li:hover,.jle-nav li:hover,.jle-top li.selected,.jle-nav li.selected{background-color:#F58B32;}
.jle-paging-li1{margin-top:5px;margin-left:5px;margin-right:5px;}
.jle-right .jle-paging-li1{margin-left:0px;margin-right:0px;}
.jle-right .jle-paging-li1 span,.jle-right .jle-paging-li1 font{display: inline-block;}
.jle-paging-li1,.jle-paging-li1 select,.jle-paging-li1 a{font-size:13px;display:inline-block;height:25px;line-height:25px;}
.jle-link{text-decoration:none;background-color:#74B7FA;border:1px solid #0080FF;color:white;padding:0px 5px;}
.jle-link-normal,.jle-link:hover{background: rgb(206, 206, 206);border-color: rgb(165, 165, 165)}
.jle-paging-li1 input{font-size:13px;display:inline-block;height:23px;line-height:23px;text-align:right;}
.jle-paging-li1 input{max-width:35px;margin:0px 5px;padding:0px 2px;}
.jle-paging-li1 input.jle-narrow-input{max-width:25px;}
.jle-paging-li1 span.jle-narrow-span{max-width:35px;}
.jle-right{float:right;}
.jle-tabs{height:30px;line-height:30px;font-size:0px;width:65px;padding:5px 6px 2px 6px;margin:5px 5px 0px 15px;border:1px solid silver;border-bottom:0px;position:relative;}
.jle-grid-link,.jle-heap-link{background-repeat:no-repeat;width:28px;height:26px;display:inline-block;cursor:pointer;border:1px solid silver;}
.jle-mode2 .jle-grid-link{background-image:url(../images/btn_icon.gif);background-position:-68px -239px;}
.jle-mode2 .jle-heap-link{background-image:url(../images/btn_icon.gif);background-position:-100px -239px;}
.jle-mode1 .jle-grid-link{background-image:url(../images/btn_icon.gif);background-position:-68px -269px;}
.jle-mode1 .jle-heap-link{background-image:url(../images/btn_icon.gif);background-position:-100px -269px;}
.jle-views{position:relative;min-width:100px;min-height:20px;border:1px solid silver;margin:0px 2px 1px 2px;overflow:hidden;}
.jle-mode2 .jle-grid-link:hover{background-position:-91px -142px;}
.jle-mode1 .jle-heap-link:hover{background-position:-123px -142px;}
.jle-mask{position: absolute;bottom:-1px;left:0px;height:1px;width:100%;background-color:white;z-index:10;}
.jle-buttons{position:absolute;right:5px;top:5px;height:30px;line-height:30px;}
.jle-link-btn{display:inline-block;}
.jle-narrow{display:none;}
.jle-wide{display:block;}
.jle-left-pad{margin-left:5px;}
.jle-right-pad{margin-right:5px;}
.jle-search{display:none;}