.stage {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px;
	width: 100px;
	height: 100px;
	border: 1px solid transparent;
	overflow: visible;
}
.stage img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 100px;
}

.stage img:last-child {
	-webkit-transform-origin: 50px 100px;
	-webkit-animation: arc90 1.5s linear infinite;
	-webkit-animation-delay: 100ms;
}

.stage img:first-child {
	-webkit-transform-origin: 50px 100px;
	-webkit-animation: antiArc90 1.5s linear infinite;
	-webkit-animation-delay: 100ms;
}

@-webkit-keyframes arc90 {
	0% {-webkit-transform: rotate(0deg);}
	10% {-webkit-transform: rotate(0deg);}
	20% {-webkit-transform: rotate(10deg);}
	30% {-webkit-transform: rotate(20deg);}
	40% {-webkit-transform: rotate(30deg);}
	50% {-webkit-transform: rotate(40deg);}
	60% {-webkit-transform: rotate(50deg);}
	70% {-webkit-transform: rotate(60deg);}
	80% {-webkit-transform: rotate(70deg);}
	90% {-webkit-transform: rotate(80deg);}
	100% {-webkit-transform: rotate(90deg);}
}

@-webkit-keyframes antiArc90 {
	0% {-webkit-transform: rotate(0deg);}
	10% {-webkit-transform: rotate(0deg);}
	20% {-webkit-transform: rotate(-10deg);}
	30% {-webkit-transform: rotate(-20deg);}
	40% {-webkit-transform: rotate(-30deg);}
	50% {-webkit-transform: rotate(-40deg);}
	60% {-webkit-transform: rotate(-50deg);}
	70% {-webkit-transform: rotate(-60deg);}
	80% {-webkit-transform: rotate(-70deg);}
	90% {-webkit-transform: rotate(-80deg);}
	100% {-webkit-transform: rotate(-90deg);}
}