.my-previews-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: -webkit-linear-gradient(left, #333, #7c7c7c, #333);
	opacity: 1;
}
.my-previews {
	position: absolute;
	overflow: hidden;
}
.my-preview-item {
	position: relative;
	display: inline-block;
	min-width: 30px;
	min-height: 30px;
	margin: 10px 0px 0px 10px;
}
.my-picture-desc {
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: transparent;
	font-size: 14px;
	font-weight: bold;
	color: white;
	font-family: "microsoft yahei", cursive, fantasy;
}
.my-selected .my-picture-desc {
	background-color: silver;
	color: #555;
}
.my-picture-box {
	position: relative;
	background: url(../img/bg.png) repeat;
}
.my-preview-item.my-selected {
	box-shadow: 1px 0px 3px red, -1px 0px 3px red, 0px 1px 3px red, 0px -1px 3px red;
}
.my-previews-prev {
	position: absolute;
	font-size: 100px;
	left: 10px;
	top: 45%;
	margin-top: -50px;
	cursor: pointer;
	border-radius: 10px;
	color: gray;
}
.my-previews-prev:hover {
	color: #333;
	background: -webkit-linear-gradient(left, rgba(144, 144, 144, 0.5), rgba(240, 240, 240, 0.5));
}
.my-previews-next {
	position: absolute;
	font-size: 100px;
	right: 10px;
	top: 45%;
	margin-top: -50px;
	cursor: pointer;
	border-radius: 10px;
	color: gray;
}
.my-previews-next:hover {
	color: #333;
	background: -webkit-linear-gradient(left, rgba(240, 240, 240, 0.5), rgba(144, 144, 144, 0.5));
}
.my-close {
	position: absolute;
	font-size: 28px;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 17px;
	border: 2px solid silver;
	color: silver;
	text-shadow: 1px 0px silver;
	cursor: pointer;
}
.my-close:hover {
	border: 2px solid white;
	color: white;
	text-shadow: 1px 0px white;
}
.my-previews-container {
	position: relative;
}
.my-previews-page {
	display: inline-block;
}
.my-eye-heath-mask {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: silver;
	opacity: 0.5;
}