html {
	padding: 0px;
	margin: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.sim-body {
	display: block;
	position: absolute;
	min-height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #f0f0f0;
}
.test-demo {
	margin: 5px 0px;
	padding: 5px;
}
.test-item {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 4px;
	background-color: #FF0000;
	box-shadow: 1px 0px 2px gray, -1px 0px 2px gray, 0px 1px 2px gray, 0px -1px 2px gray;
	cursor: pointer;
}
.test-item2 {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 4px;
	background-color: #0080FF;
	box-shadow: 1px 0px 2px gray, -1px 0px 2px gray, 0px 1px 2px gray, 0px -1px 2px gray;
	cursor: pointer;
}
.test-item:hover {
	background-color: #00F0F0;
	color: red;
}
.test-item2:hover {
	background-color: #00ECF9;
}
.test-more {
	width: 95%;
	text-align: right;
}
.test-info {
	margin-left: 20%;
	color: blue;
}