.calendar-header{
	font-size:14px;
}
.calendar-body{
	font-size:14px;
}
.calendar-body table{
	font-size:14px;
}
.calendar-menu{
	font-size:14px;
}
.combo{
	font-size:14px;
}
.combo-text{
	font-size:14px;
}
.combobox-item{
	font-size:14px;
}
.datagrid-header td{
	font-size:14px;
}
.datagrid-body td,.datagrid-footer td{
	font-size:14px;
}
.datagrid-body .datagrid-editable .datagrid-editable-input{
	font-size:14px;
}
.datebox-button{
	font-size:14px;
}
a.l-btn{
	font-size:14px;
}
.pagination-info{
	font-size:14px;
}
.pagination span{
	font-size:14px;
}
.panel{
	font-size:14px;
}
.panel-header{
	font-size:14px;
}
.searchbox{
	font-size:14px;
}
.searchbox-text{
	font-size:14px;
}

.searchbox-prompt{
	font-size:14px;
}

.spinner{
	font-size:14px;
}
.spinner-text{
	font-size:14px;
}

.tabs{
	font-size:14px;
}

.tree{
	font-size:14px;
}
.tree-node-proxy{
	font-size:14px;
}
.tree-editor{
	font-size:14px;
}
.validatebox-tip-content{
	font-size:14px;
}
.window {
	font-size:14px;
}




.menu-item{
	height:30px !important;
	margin-top:3px;
	font-size:14px;
}
.menu-text{
	top:3px;
}
.tree-node{
	height:22px;
}

.panel-tool a{
	margin-left:5px;
}
.panel-tool-close{
	background:url('images/panel_close.png') no-repeat;
}
.panel-tool-min{
	background:url('images/panel_min.png') no-repeat;
}
.panel-tool-max{
	background:url('images/panel_max.png') no-repeat;
}
.panel-tool-restore{
	background:url('images/panel_max.png') no-repeat;
}
/*
.panel-tool-collapse{
	background:url('images/panel_tool_collapse.gif') no-repeat;
}
.panel-tool-expand{
	background:url('images/panel_tool_expand_t.gif') no-repeat;
}
*/
.window .window-header{
	height: 22px;
}
.window .window-header .panel-icon{
	top:4px;
}
.window-header .panel-tool{
	margin-top:3px;
}
.window-header .panel-tool a {
	display:inline-block;
	width:28px;
	height:28px;
	opacity:0.6;
	filter:alpha(opacity=60);
	margin-left:4px;
}
.window-header .panel-tool .panel-tool-collapse{
	width:28px;
	height:28px;
	background:url('images/panel_tool_collapse.png') no-repeat;
}

.window-header .panel-tool .panel-tool-expand{
	width:28px;
	height:28px;
	background:url('images/panel_tool_expand.png') no-repeat;
}



.allscreen-mask-msg{
	height:16px;
	background:#fff url('images/pagination_loading.gif') no-repeat scroll 5px 10px;
}
.panel-tool-fullscreen{
	background: url('images/allscreen24.png') no-repeat 0px 0px;
}
.panel-tool-rotate{
	background: url('images/rotate24.png') no-repeat 0px 0px;
}








