body{
margin:0px;
padding:0px;
overflow:hidden;
}

.jle-left {
position:absolute;
left:0px;
top:10%;
}

.jle-right {
position:absolute;
right:0px;
top:10%;
}

.jle-top {
position:absolute;
top:0px;
left:10%;
}

.jle-bottom {
position:absolute;
bottom:0px;
left:10%;
}

.jle-right-gap {
margin-right: 10px;
}

.jle-ul {
	box-shadow : 1px 0px 1px #FDCCF0,0px 1px 1px #FDCCF0,-1px 0px 1px #FDCCF0,0px -1px 1px #FDCCF0;
	background-color: #f3f3f3;
}

.jle-li-hori {
font: 15px/20px consolas, Î¢ÈíÑÅºÚ;
color: #444;
display: inline-block;
}

.jle-li, .jle-li-hori {
padding: 20px;
}

.jle-box {
display: block;
width: 60px;
height: 60px;
border: 0px;
margin: 0px;
padding: 0px;
background-color: #099;
font: 15px/60px consolas, Î¢ÈíÑÅºÚ;
color: #fff;
text-align:center;
}

